.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-x: hidden;
}

.title {
  font-weight: 400;
  font-size: 24px;
  color: var(--text-primary);
}

.search {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  align-items: center;
}

.inputWrapper {
  min-width: 0;
}

.inputWrapper input {
  width: 100%;
}

.filterWrapper {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  color: var(--text-primary);
}

