.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 400;
  font-size: 24px;
  color: var(--text-primary);
}

.search {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  align-items: center;
}


