.input {
    background-color: var(--bg-input);
    outline: none;
    border: 1px solid rgb(102, 102, 102);
    padding: 12px;
    color: var(--text-primary);
    width: 100%;
}

.input::placeholder {
    color: var(--text-secondary);
}